:root {
  --primary: #55b950;
  --secondary: #766b6b;
  --tertiary: #3f81a2;
  --quatrinary: #e4ddfa;
}

.homepage {
  text-align: center;
  padding: 50px;
  background-color: #3f81a2;
  color:#e4ddfa;
}

.nav {
  text-align: right;
  background-color: #766b6b;
  color: #e4ddfa;
  font-style: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 30px;
  padding-right: 20px;
}

h4 {
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #55b950;
  color:#e4ddfa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  text-align: center;
  color: #e4ddfa;
  background-color: #3f81a2;
}

li {
  list-style: none;
  display: grid;
  text-align: center;
}

.b1 {
  background-color: #e4ddfa;
  color: #3f81a2;
}

.b2 {
  background-color: #e4ddfa;
  color: #3f81a2;
}


